@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.bg-slant {
  background: linear-gradient(208deg, #393939, transparent, transparent);
}
